adversarial-robustness-toolbox==1.8.0
art==1.8
certifi==2021.10.8
charset-normalizer==2.0.12
codecov==2.0.15
coverage==6.3.2
cycler==0.11.0
fonttools==4.33.3
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.36.0
matplotlib==3.5.2
numba==0.53.1
numpy==1.21.5
packaging==21.3
pandas==1.4.4
Pillow==9.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
requests==2.27.1
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
tabulate==0.8.9
threadpoolctl==3.1.0
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tqdm==4.63.0
typing_extensions==4.1.1
urllib3==1.26.8
